body {
  background-color: #a5bfcc;
}
h1 {
  text-align: center;
  color: #2e2e2e;
}
.img-1 img {
  height: 100px;
  width: auto;
}
.img-1 {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.navbar {
  height: 40px;
  padding-top: 20px;
  background-color: #4c585b;
  display: flex;
  justify-content: center;
}
.navbar .item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 500;
  color: rgb(255, 239, 219);
  margin: 0px 25px;
}

.sec1 p {
  font-family: "Cormorant Garamond", serif;
  margin: 20px 150px;
  font-size: large;
  font-weight: 400;
  font-style: italic;
}

.sec2 p {
    margin: 0px 350px 20px 350px;
}

.sec2 li {
    list-style: none;
    margin: 10px 10px;
    font-weight: 900;
    font-style: italic;
}
.sec2 ul {
    margin: 0px auto 0px 180px;
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
ul span {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    height: 40px;
    width: 200px;
    background-color: #fffbed;
}
.project{
    height: auto;
    padding-top: 10px;
    background-color: #7E99A3;
    /* display: flex; */
    justify-content: center;
    margin: 20px 200px;
}
.project p{
    padding: 0px 50px 20px 50px;
}
.project-head{
    font-size: large;
    font-weight: 900;
    height: 30px;
    color: cornsilk;
    background-color: rgb(74, 91, 97);
    display: flex;
    align-items: center;
    justify-content: center;
}
.project span{
    background-color: rgb(74, 91, 97);
    color: cornsilk;
    padding: 2px 5px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-style: bold;
    /* color: rgb(255, 255, 255); */
}
.sec4{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.cont-items{
    background-color: #fffbed;
    padding: 5px 10px;
    margin: 0px 20px;
    border-radius: 5px;
}
